.photo-grid {
    margin-top: 92px;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 16px;
}

@media screen and (max-width: 1140px) {
    .photo-grid {
        grid-gap: 14px;
    }
}

@media screen and (max-width: 984px) {
    .photo-grid {
        margin-top: 88px;
        padding: 0 24px;
        grid-gap: 16px;
    }
}

@media screen and (max-width: 568px) {
    .photo-grid {
        margin-top: 60px;
        padding: 0 16px;
        grid-gap: 12px;
    }
}

