.places {
    margin-top: 92px;
    padding: 0 148px;
    display: grid;
    gap: 80px;
}

@media screen and (max-width: 1140px) {
    .places {
        padding: 0 48px;
    }
}

@media screen and (max-width: 984px) {
    .places {
        padding: 0 24px;
        gap: 73px;
    }
}

@media screen and (max-width: 568px) {
    .places {
        padding: 0;
        gap: 50px;
    }
}

