.cover__subtitle {
    max-width: 360px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    margin: 16px 0 0;
    z-index: 1;
}

@media screen and (max-width: 568px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin: 8px 0 0;
    }
}