.header {
    max-width: 1184px;
    height: 52px;
    margin: 0 auto;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .header {
        margin-top: 16px;
        height: 42px;
    }
}