.header {
    box-sizing: border-box;
    width: 100%;
    min-height: 52px;
    padding: 0 48px;
    margin: 0 auto;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 984px) {
    .header {
        padding: 0 24px; 
    }
}

@media screen and (max-width: 568px) {
    .header {
        padding: 0 16px;
        margin-top: 16px;
    }
}