.footer__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity .3s ease-in;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 568px) {
    .footer__link {
        display: block;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}