.footer__links {
    padding: 0;
    margin: 0;
    width: 465px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 568px) {
    .footer__links{
        width: 158px;
        display: block;
    }
}