.lead__subtitle {
    margin: 0;
    margin-top: 32px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
    .lead__subtitle{
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }
    
}