.place__link {
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity .3s ease-in;
}

.place__link:hover {
    opacity: 0.8;
}